h1{
    color: gray;
    display: flex;
    justify-content: center;
}

a:hover{
    text-decoration: underline;
}

a{
    text-decoration: none;
}

.tobias-instergramm{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header-big{
    height: 100px;
    width: 500x;
    background-color: rgb(47, 47, 243);
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

.position-p{
    display: flex;
    justify-content: center;
}

.account{
    width: 100%;
    text-align: center;
}

.color-insta{
    color: white;
}

.color-discord{
    color: gray;
}

.picture-kindergarten{

}

.color-yt{
    color: red;
}

.color-twitch{
    color: blue;
}

.h3{
    display: flex;
    justify-content: center;
}

.picture-nav{
    width: 100%;
    text-align: center;
}

.geburt-picture{
    display: flex;
    height: 200px;
    width: 200px;
}

.kindergarten-picture{
    height: 200px;
    width: 200px;
}